.parallax-container-classname {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Alumni';
    src: url('./fonts/AlumniSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
   
   @font-face {
    font-family: 'Alumni';
    src: url('./fonts/AlumniSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
   